node-red/flows/covid_19_de_nrw_cities.json
[{"id":"973ee49f.0968","type":"tab","label":"Covid19 NRW Cities","disabled":false,"info":""},{"id":"df6a5d43.7dfba","type":"http request","z":"973ee49f.0968","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":355,"y":160,"wires":[["bb79a950.9ac3","bce3ba02.ac7c28"]],"l":false},{"id":"bb79a950.9ac3","type":"csv","z":"973ee49f.0968","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":403,"y":160,"wires":[["f23a0d95.422298"]],"l":false},{"id":"beebab51.31c1e8","type":"function","z":"973ee49f.0968","name":"","func":"function getFormattedDate(date) {\n    let year = date.getFullYear();\n    let month = (1 + date.getMonth()).toString().padStart(2, '0');\n    let day = date.getDate().toString().padStart(2, '0');\n  \n    return year + '-' + month + '-' + day;\n}\n\nvar date = new Date();\ndate.setDate(date.getDate() - 1);\nyesterday = getFormattedDate(date)\n\nurl = \"https://raw.githubusercontent.com/cmarxmeier/covid-19-RKI/master/NRW_covid_19_data/\"+yesterday+\".csv\"\n\nreturn {url:url}","outputs":1,"noerr":0,"x":307,"y":160,"wires":[["df6a5d43.7dfba"]],"l":false},{"id":"d7ad79f6.bb9a4","type":"status","z":"973ee49f.0968","name":"","scope":["70ebada9.74b46c"],"x":160,"y":160,"wires":[["c215bf8e.19e46"]]},{"id":"c215bf8e.19e46","type":"switch","z":"973ee49f.0968","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected 0","vt":"str"},{"t":"cont","v":"connected","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":259,"y":160,"wires":[[],["beebab51.31c1e8"]],"l":false},{"id":"f23a0d95.422298","type":"function","z":"973ee49f.0968","name":"","func":"Number.prototype.between = function(a, b) {\n  var min = Math.min(a, b),\n    max = Math.max(a, b);\n\n  return this > min && this < max;\n};\n\n//////////\n\nm = msg.payload\n\nconfirmed = m.Confirmed;\ndeaths = msg.payload.Deaths\ncountry = m[\"Country/Region\"]\n\nif(m.hasOwnProperty(\"Province/State\")){\n    province = \"(\"+m[\"Province/State\"]+\")\"\n} else{\n    province = \"\"\n}\nlon = m.Longitude\nlat = m.Latitude\n\n\nif(confirmed>1000){\n    c = \"#D9100D\"    \n}\nif(confirmed.between(750,1000)){\n  c = \"#D9340D\"  \n} \nif(confirmed.between(500,750)){\n  c = \"#D9590D\"  \n} \nif(confirmed.between(250,500)){\n  c = \"#D97D0D\"  \n} \nif(confirmed.between(100,250)){\n  c = \"#D9A20D\"  \n} \nif(confirmed.between(50,100)){\n  c = \"#D9B40D\"  \n} \nif(confirmed.between(1,50)){\n  c = \"#D3D408\"  \n} \nif(confirmed === 0){\n  return\n} \n    \n\ntooltip = `Country: ${country} ${province}<br/>Confirmed: ${confirmed}<br/>Deaths: ${deaths}<br/>`\nlabel = country +\" \"+province\nreturn {payload:{name:label,lon:lon,lat:lat,popup:tooltip,\"icon\":\"fa-circle\",iconColor:c}}","outputs":1,"noerr":0,"x":475,"y":160,"wires":[["70ebada9.74b46c"]],"l":false},{"id":"70ebada9.74b46c","type":"worldmap","z":"973ee49f.0968","name":"Covid-19 NRW Cities","lat":"50.76","lon":"2.56","zoom":"3","layer":"Esri Dark Grey","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/covid19nrw","x":640,"y":160,"wires":[]},{"id":"bce3ba02.ac7c28","type":"debug","z":"973ee49f.0968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":300,"wires":[]}]
