node-red/flows/covid_19_de_nrw_rheinsieg.json
[{"id":"dbefdfd6.e8f368","type":"tab","label":"Covid19 Rhein-Sieg-Kreis","disabled":false,"info":""},{"id":"b5b09721.982c2","type":"http request","z":"dbefdfd6.e8f368","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":355,"y":160,"wires":[["d205a3f9.7d8e98","cab6cb1a.0dbfa8"]],"l":false},{"id":"d205a3f9.7d8e98","type":"csv","z":"dbefdfd6.e8f368","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":403,"y":160,"wires":[["84ae11f8.4ceb6"]],"l":false},{"id":"b1b106fb.7de93","type":"function","z":"dbefdfd6.e8f368","name":"","func":"function getFormattedDate(date) {\n    let year = date.getFullYear();\n    let month = (1 + date.getMonth()).toString().padStart(2, '0');\n    let day = date.getDate().toString().padStart(2, '0');\n  \n    return year + '-' + month + '-' + day;\n}\n\nvar date = new Date();\ndate.setDate(date.getDate() - 1);\nyesterday = getFormattedDate(date)\n\nurl = \"https://raw.githubusercontent.com/cmarxmeier/covid-19-RKI/master/RSK_covid_19_data/\"+yesterday+\".csv\"\n\nreturn {url:url}","outputs":1,"noerr":0,"x":307,"y":160,"wires":[["b5b09721.982c2"]],"l":false},{"id":"e1070b90.396a7","type":"status","z":"dbefdfd6.e8f368","name":"","scope":["538ec386.03aac4"],"x":160,"y":160,"wires":[["ae3b74fc.12657"]]},{"id":"ae3b74fc.12657","type":"switch","z":"dbefdfd6.e8f368","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected 0","vt":"str"},{"t":"cont","v":"connected","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":259,"y":160,"wires":[[],["b1b106fb.7de93"]],"l":false},{"id":"84ae11f8.4ceb6","type":"function","z":"dbefdfd6.e8f368","name":"","func":"Number.prototype.between = function(a, b) {\n  var min = Math.min(a, b),\n    max = Math.max(a, b);\n\n  return this > min && this < max;\n};\n\n//////////\n\nm = msg.payload\n\nconfirmed = m.Confirmed;\ndeaths = msg.payload.Deaths\ncountry = m[\"Country/Region\"]\n\nif(m.hasOwnProperty(\"Province/State\")){\n    province = \"(\"+m[\"Province/State\"]+\")\"\n} else{\n    province = \"\"\n}\nlon = m.Longitude\nlat = m.Latitude\n\n\nif(confirmed>1000){\n    c = \"#D9100D\"    \n}\nif(confirmed.between(750,1000)){\n  c = \"#D9340D\"  \n} \nif(confirmed.between(500,750)){\n  c = \"#D9590D\"  \n} \nif(confirmed.between(250,500)){\n  c = \"#D97D0D\"  \n} \nif(confirmed.between(100,250)){\n  c = \"#D9A20D\"  \n} \nif(confirmed.between(50,100)){\n  c = \"#D9B40D\"  \n} \nif(confirmed.between(1,50)){\n  c = \"#D3D408\"  \n} \nif(confirmed === 0){\n  return\n} \n    \n\ntooltip = `Country: ${country} ${province}<br/>Confirmed: ${confirmed}<br/>Deaths: ${deaths}<br/>`\nlabel = country +\" \"+province\nreturn {payload:{name:label,lon:lon,lat:lat,popup:tooltip,\"icon\":\"fa-circle\",iconColor:c}}","outputs":1,"noerr":0,"x":475,"y":160,"wires":[["538ec386.03aac4"]],"l":false},{"id":"538ec386.03aac4","type":"worldmap","z":"dbefdfd6.e8f368","name":"Covid-19 Rhein-Sieg Kreis","lat":"50.76","lon":"2.56","zoom":"3","layer":"Esri Dark Grey","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/covid19rsk","x":660,"y":160,"wires":[]},{"id":"cab6cb1a.0dbfa8","type":"debug","z":"dbefdfd6.e8f368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":300,"wires":[]}]
